.section {
  padding-bottom: 94px;
}
.section--pad {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--bg {
  background-color: $teamBgColor;
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 0px;

  &__title {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 0px;
    justify-content: center;
    font-size: 36px;
    line-height: 1.17;
  }
}
.bodystyle {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;
  color: $textColor;
  background-color: $thirdTextColor;
}
