.description {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin-top: 94px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktop {
    flex-wrap: nowrap;
  }

  &__box {
    max-width: 480px;
    margin: 0 auto;
    @include tablet {
      max-width: 354px;
      width: 100%;
    }
  }
  &__bg {
    padding: 25px 0px;
    display: flex;
    margin-bottom: 30px;
    background-color: $teamBgColor;
    justify-content: center;
  }
  &__icon {
    background-color: $teamBgColor;
  }
  &__title {
    font-size: 14px;
    line-height: 1.17;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    color: $secondTextColor;
    line-height: 1.71;
    margin-top: 10px;
  }
}
