.employe {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $teamBgColor;
  @include tablet {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $thirdTextColor;
    padding-bottom: 30px;
    margin-bottom: 30px;
    max-width: 480px;
    min-width: 320px;
    display: block;
    width: 100%;
    height: auto;
  }

  &__imgg {
    display: flex;
    max-width: 480px;
    width: 100%;
    height: auto;
  }
  &__name {
    font-size: 16px;
    line-height: 1.17;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__role {
    font-weight: 400;
    font-size: 16px;
    color: $secondTextColor;
    line-height: 1.17;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 30px;
  }
}
.workers {
  display: inline-flex;
  flex-direction: row;
  margin-right: 10px;
  border-radius: 50%;
  fill: $iconColor;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    width: 44px;
    height: 44px;
    background-color: $primaryColor;
    fill: $thirdTextColor;
    border-radius: 50%;
  }

  &__icon {
    margin: 12px;
  }
}
