.footer {
  display: block;
  flex-direction: row;
  padding: 60px 0;
  margin: 0 auto;
  background-color: $footerBgColor;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include desktop {
    flex-wrap: nowrap;
    align-items: center;
    min-width: 522px;
    gap: 70px;
  }

  &__contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    max-width: 480px;
    width: 100%;

    @include tablet {
      margin: 0 auto;
      flex-direction: row;
      min-width: 768px;
      max-width: 1199px;
      width: 100%;
      align-items: baseline;
    }
    @include desktop {
      align-items: baseline;
      display: flex;
      min-width: 522px;
    }
  }

  &__logo {
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
    text-decoration: none;
    color: $thirdTextColor;
    font-weight: 700;
    font-size: 24px;
    font-family: "raleway";
    line-height: 1.17;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    :focus {
      color: $primaryColor;
      fill: $primaryColor;
    }

    @include desktop {
      align-items: start;
      margin-bottom: 20px;
    }
  }
  &__logo-color {
    color: $primaryColor;
  }
  &__form {
    display: block;
    justify-content: center;
    max-width: 450px;
    width: 100%;
    @include tablet {
      max-width: 768px;
      width: 100%;
      display: flex;
    }
    @include desktop {
      min-width: 570px;
      width: 100%;
      display: flex;
    }
  }
  &__main {
    @include desktop {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      align-items: baseline;
      display: flex;
    }
  }
}
.adress {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;

  @include tablet {
    max-width: 768px;
    width: 100%;
  }

  @include desktop {
    align-items: start;
    max-width: 246px;
  }

  &__list {
    margin-bottom: 8px;
  }
  &__link {
    font-style: normal;
    text-decoration: none;
    color: $thirdTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    :focus {
      color: $primaryColor;
      fill: $primaryColor;
    }
  }
  &__link--color {
    color: #ffffff99;
  }
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 480px;
  width: 100%;
  @include tablet {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
  }
  @include desktop {
    max-width: 206px;
    width: 100%;
    height: auto;
    align-items: start;
    margin-left: 70px;
    margin-right: 78px;
  }

  &__title {
    color: $thirdTextColor;
    margin: 0px;
    display: flex;
  }
  &__list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    padding-left: 0px;
    margin-top: 20px;
  }
  &__icon {
    fill: $thirdTextColor;
    background: $iconBgColor;
    width: 44px;
    height: 44px;
    justify-content: center;
    display: flex;
    padding: 12px;
    margin-right: 10px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:is(:hover, :focus) {
      background-color: $primaryColor;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.newsletter {
  color: $thirdTextColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  @include desktop {
    align-items: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 570px;
    width: 100%;
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    @include desktop {
      display: flex;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 320px;
    max-width: 450px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: $footerBgColor;
    display: flex;
    color: $secondTextColor;
    outline: none;
    padding-left: 16px;
    @include tablet {
      max-width: 450px;
      width: 100%;
    }
    @include desktop {
      max-width: 358px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__btn {
    background-color: $primaryColor;
    border-radius: 4px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    color: $thirdTextColor;
    fill: $thirdTextColor;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include desktop {
      margin-top: 0;
      margin-left: 12px;
      max-width: 200px;
      width: 100%;
    }
  }
  &__icon {
    margin-left: 24px;
  }
}
