.hero {
  padding: 118px 0;
  background-color: $mainBgColor;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  min-width: 320px;
  width: 100%;
  @include desktop {
    padding: 200px 0;
  }

  &__title {
    max-width: 355px;
    margin: 0 auto;
    text-align: center;
    color: $thirdTextColor;
    font-size: 26px;
    line-height: 1.61;
    @include desktop {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
  &__button {
    background-color: $primaryColor;
    color: $thirdTextColor;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    border: none;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 41px 10px 42px;
    margin-top: 30px;
    &:hover,
    &:focus {
      background-color: $primaryColor;
      cursor: pointer;
      color: $thirdTextColor;
      border: none;
    }
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 196dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main-background.jpg);
  }
}
