.logo {
  text-decoration: none;
  color: $primaryColor;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  font-family: "Raleway", sans-serif;

  @include desktop {
    font-size: 26px;
  }

  &--black {
    color: #000;
  }

  &--white {
    color: #fff;
  }
  &--margin {
    margin-bottom: 20px;
  }
}
