.work {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding-left: 0px;

  &__list {
    position: relative;
    display: inline-flex;
  }

  &__description {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
    color: $thirdTextColor;
    justify-content: center;
    display: flex;
    padding: 27px 90px;
  }
}
