* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: $textColor;
}

.section {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }
}

.section--bg {
  background-color: $teamBgColor;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}
.container {
  max-width: 480px;
  min-width: 320px;

  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }

  &__title {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 0px;
    justify-content: center;
    font-size: 28px;
    line-height: 1.17;
    @include desktop {
      font-size: 36px;
    }
  }
}
