$textColor: #212121;
$secondTextColor: #757575;
$thirdTextColor: #ffffff;
$primaryColor: #2196f3;
$footerBgColor: #2f303a;
$borderColor: #ececec;
$iconColor: #afb1b8;
$teamBgColor: #f5f4fa;
$bgColor: #e5e5e5;
$mainBgColor: #2f303a;
$iconBgColor: #ffffff1a;
$mainFont: normal, 44px, 1.36, Roboto;
